@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <span class="nav-link">Welcome @HttpContextAccessor.HttpContext.User.Claims.ElementAt(1).Value!</span>
            </li>
            <li class="nav-item">
                <button type="submit" class="nav-link btn btn-light">Sign out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link btn-light" asp-controller="Account" asp-action="Login">Sign in</a>
        </li>
    </ul>
}