<h3>Payment-Seite</h3>

<p>
    Hier wird nun die API des Payment-Providers aufgerufen...
</p>

<p>
    Klicke hier mehrere male den Refresh-Button deines Browsers um die API in einen Down-Mode zu zwingen.
    Sie wird dann eine Exception auslösen. Dies soll mehrere Unique User simulieren, die (ca.) zeitgleich 
    bezahlen möchten...
</p>