#  $ git status

# Untracked files:

#       Documentation/foo.html
#       Documentation/gitignore.html
#       file.o
#       lib.a
#       src/internal.o

#  $ cat .git/info/exclude

# ignore objects and archives, anywhere in the tree.
*.bin
$ cat Documentation/.gitignore

# ignore generated html files,
*.html

# except foo.html which is maintained by hand
!foo.html
$ git status
[...]

# Untracked files:
[...]

#       Documentation/foo.html
[...]