@model IEnumerable<Spg.MvcTest.WebApp.Models.Pupil>

<h1 >Schüler</h1>

<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>

<p>
    Lorem Ipsum...
</p>

<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (Pupil item in Model)
    {
        <tr>
            <td>@item.Firstname</td>
            <td>@item.Lastname</td>
            <td>@item.Class</td>
        </tr>
    }
</table>
