@model Spg.MvcTestsAdmin.WebApp.Models.Login

@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null 
    && !String.IsNullOrEmpty(Model.UserName))
{
    @:
    <div>Welcome back, @Model.UserName</div>
    @Html.ActionLink("Forget Me", "RemoveCookie")
}
else
{
    @:
    <form method="post" asp-action="Index">
        <span>Hey, seems like it's your first time here!</span><br />
        <label>Please provide your name:</label>
        @Html.TextBox("userName")
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </form>
}