@model IEnumerable<Spg.MvcTestsAdmin.Service.Models.Lesson>

@{
    ViewData["Title"] = "Index (ViewData)";
    var schoolclassId = ViewData["schoolclassId"];
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<partial name="_Lessons" />